*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: antiquewhite;
}

/* Main Flex Container */
.flex-section{
  display: grid;
  grid-template-columns:55% 45%;
}

/* Testimonials Heading */
.texstimonial-text{
  color: goldenrod
}

 /* Grid for Testmonial Images */
.gallery-section{
  display: grid;
  margin: 1.25em;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.gallery-img{
  overflow: hidden;
}

/* Images within Grid */
img{
  width: 100%;
  height: 100%;
  transition: transform 0.5s ;
}

/* Hover Effect for Images */
img:hover{
  transform: scale(1.1); 
}

.customer-section{
  margin-top: 12.5em;
  padding:40px;
}

.customer{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
}

/* Individual Owner`s Image(circular) */
.customer-img>img{
  border-radius: 100%;
  width: 2.5rem;
  height: 2.5rem;
}

/*Text Heading under Testimonial */
.text{
 font-size: 2.7em;
 font-weight: bold;
 margin-bottom: 1.3em;
}

/*Text under the owner`s image */
.customer-text{
  color: rgb(75, 72, 72);
  font-size: 12px;
  line-height: 1.5em;
}